<?xml version="1.0" encoding="utf-8"?>
<manifest package="ru.egslava.ndkfail"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="ru.egslava.ndkfail.App"
        android:icon="@mipmap/ic_launcher"
        android:label="NDK proof of debugger fail">

        <!-- tools:replace="android:label|android:allowBackup" -->
        <activity android:name="ru.egslava.ndkfail.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>